*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-top: 56px!important;
    min-width: 768px;
    height: 100%;
    box-sizing: border-box;
    line-height: 1.42587;
    font-size: 17px;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
}

ul{
    display: block;
    padding-left: 0;
}
li{
    display: list-item;
    list-style: none;
    line-height: 20px;
}

a{
    text-decoration: none;
    background-color: transparent;
}
img{
    vertical-align: middle;
}

form{
    display: block;
}

nav{
    display: block;
    height: 56px;
    background-color: pink;
}
.navbar{
    margin-bottom: 20px;
    min-height: 50px;
    border: 1px solid transparent;

}
.navbar::before{
    content: '';
    display: table;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
.navbar-default{
    background-color: #fff;
    border-color: #f0f0f0;
}
.navbar-fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-width: 0 0 1px ;
    border-radius: 0;
}

.limit-width{
    margin: 0 auto;
    min-width: 768px;
    max-width: 1440px;
}

.limit-width::after{
    content: '';
    display: table;
    clear: both;
}

nav .logo{
    float: left;
    padding: 0;
    height: 56px;
    cursor: pointer;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    user-select: none;
}

nav .write-btn{
    float: right;
    width: 100px;
    height: 40px;
    margin: 8px 12px 0;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #ea6f5a;
}
nav .ic-write{
    margin-right: 3px;
    font-size: 19px;
    vertical-align: middle;
}

nav .sign-up{
    float: right;
    width: 80px;
    height: 38px;
    line-height: 24px;
    margin: 9px 5px 0 15px;
    border: 1px solid rgba(236,97,73,7);
    border-radius: 20px;
    font-size: 15px;
    color: #ea6f5a;
    background-color: transparent;
}

nav .log-in{
    float: right;
    margin: 11px 6px 0 10px;
    font-size: 15px;
    color: #969696;
}

nav .logo img{
    height: 100%;
    vertical-align: middle;
}

.container{
    margin-left: auto;
    margin-right: auto;
    /*margin: 0 auto;*/
    padding-left: 15px;
    padding-right: 15px;
    width: 960px;
}

.container::before{
    content: '';
    display: table;
}


.container::after{
    content: '';
    display: table;
    clear: both;
}

.collapse{
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.collapse::after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.navbar-collapse{
    margin-left: -15px!important;
    padding-left: 0;
    padding-right: 0;
    border-top: 0;
    max-height: 340px;
    box-shadow: none;
    width: auto;
}
.navbar-nav{
    float: left;
    margin: 0;
    padding: 0;
}
 .navbar li{
     display: block;
     position: relative;
     float: left;
     margin-right: 10px;
}
 .navbar li a{
     display: block;
     position: relative;
 }
 nav .nav .active a{
     height: 56px;
     line-height: 26px;
     padding: 15px;
     color: #ea6f5a;
 }

 .menu-icon{
     display: inherit;
     margin-right: 5px;
     float: left;
     font-size: 20px;
 }

 .nav .tab a{
     padding: 15px;
     line-height: 26px;
     height: 56px;
     color: #333;
 }
 .search{
     padding-left: 15px;
 }

nav form{
    position: relative;
    top: 9px;
    margin: 0 0 20px;
}

.search-input{
     padding: 0 40px 0 20px;
     width: 240px;
     height: 38px;
     border: 1px solid #eee;
     border-radius: 40px;
     background-color: #eee;
 }

nav form .search-btn{
    position: absolute;
    top: 4px;
    right: 5px;
    padding: 0;
    width: 30px;
    height: 30px;
    color: #969696;
    text-align: center;
    cursor: pointer
}

.ic-search{
    display: block;
    margin: 5px -1px 0 0;
}

.style-model{
    float: right;
}
.style-model-btn{
    float: right;
    padding: 17px 10px;
    font-size: 24px;
    line-height: 20px;
    color: #969696;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}

.row::before{
    content: '';
    display: table;
}
.row::after{
    content: '';
    display: table;
    clear: both;
}

.index .main{
    padding-top: 30px;
    padding-right: 0;
}
.col-xs-16{
    position: relative;
    float: left;
    padding-left: 15px;
    width: 66.66667%;;
}
.commonclass{
    padding: 0 2px 0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 15px;
}
.index .main .split-line{
    margin: -5px 0 15px;

}

.col-xs-17{
    position: relative;
    float: left;
    width: 29.16667%;
}
.col-xs-offset-1{
    margin-left: 4.16667%;
}
.index .aside{
    padding: 30px 0 0;
}

.index .main .load-more{
    width: 100%;
    border-radius: 20px;
    background-color: #a5a5a5;
}
.note-list{
    padding: 0;
    margin: 0;
}
.note-list li{
    position: relative;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px 2px 20px 0;
    border-bottom: 1px solid#f0f0f0;
    word-wrap: break-word;
}
.note-list li .have-img{
    min-height: 140px;
}
.index .main .note-list .have-img .wrap-image{
    width: 150px;
}
.note-list .have-img .wrap-image{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -60px;
    height: 100px   ;
}

.note-list .have-img .wrap-image img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}
.load-more{
    display: block;
    height: 40px;
    margin: 30px auto 60px;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.index .main .note-list .have-img .content{
    padding-right: 165px    ;
}
.note-list .title{
    display: inherit;
    margin: -7px 0 4px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5;
    color: #969696;
}
.note-list .abstract{
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
    color: #999;
}

.note-list .meta{
    padding-right: 0!important;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.note-list .meta span{
    margin-right: 10px;
    color: #b4b4b4;
}
.note-list .meta a{
    margin-right: 10px;
    color: #b4b4b4;
}
.jsd-meta{
    color: #ea6f5a;
}

/*
    右边列表
 */

.index .aside .board{
    margin-top: -4px;
    margin-bottom: 4px;
    min-height: 228px;
}

.index .aside .board img{
    margin-bottom: 6px;
    border-radius: 4px;
    width: 100%;
    min-height: 50px;
}
.col-xs-18{
    float: left;
}
.index .aside .download{
    margin-bottom: 30px;
    padding: 10px 22px;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: #fff;
}

.index .aside .download .qrcode{
    width: 60px;
    height: 60px;
    opacity: .85;
}

.index .aside .download .info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}

.index .aside .download .info .title{
    font-size: 15px;
    color: #333;
}

.index .aside .download .info .description{
    margin-top: 4px;
    font-size: 13px;
    color: #999;
}
.recommended-authors{
    margin-bottom: 20px;
    padding-top: 0;
    font-size: 13px;
    text-align: center  ;
}
.recommended-authors .title{
    text-align: left;
}
.recommended-authors .title span{
    font-size: 14px;
    color: #969696;
}
.recommended-authors .title .page-change{
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #969696;
}
.recommended-authors .list{
    margin: 0 0 20px;
    text-align: left;
}
.recommended-authors .list li{
    margin-top: 20px;
}
.recommended-authors .find-more{
    position: absolute;
    padding: 7px 7px 7px 12px;
    left: 0;
    width: 100%;
    font-size: 13px;
    color: #787878;
    background-color: #F7F7F7;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

.recommended-authors .list .avatar{
    display: block;
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

.avatar img{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.recommended-authors .list .follow{
    float: right;
    margin-top: 5px;
    padding: 0;
    font-size: 13px;
    color: #42c02e;
}

.recommended-authors .list .name{
    display: block;
    padding-top: 5px;
    margin-right: 60px;
    font-size: 14px;
    color: #333333;
}
.recommended-authors .list p{
    margin-top: 2px;
    font-size: 12px;
    color: #969696;
}

footer{
    margin-bottom: 20px;
}

footer .main{
    padding-right: 0;
    font-size: 13px;
    color: #969696;
}
footer .main a{
    display: inline-block;
    color: #969696;
}

footer .icp{
    color: #c8c8c8;
    margin-top: 10px;
    font-size: 12px;
}

footer .icp a{
    color: #c8c8c8;
}
footer .icp img{
    height: 30px;
}









